:root {
    /* --bg-color: #f4f2e2; */
    --bg-color: #f6f6f6;
    --bg-dark: #282829;

    /* --primary-color: #9bd8f0;
    --secondary-color: #1ebfc2;
    --accent-color: #000080; */

    --btn-green: #3C8829;
    --btn-red: #FF0000;
    --btn-muted: #606C80;

    --box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    --box-shadow-topbar: 5px 5px 23px 10px rgba(0, 0, 0, 0.06);

    --border-radius: 15px;

    --text-white: white;
    --text-black: black;
    --text-grey:#606C80;

    --topbar-height: 106px;

    --sidebar-width: 300px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}